@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  /* overflow: hidden; */
  height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

.aacy {
  color: rgb(168, 168, 168);
}
