* {
  box-sizing: border-box;
}

body {
  padding: 0px 100px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

$border-color: #efefef;

@mixin flexCenter($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}

@font-face {
  font-family: "Lobster";
  src: url(../../src/assets/images/jinwookim/fonts/Lobster/Lobster-Regular.ttf);
}
