main {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding-top: 35px;
  background-color: #fafafa;

  .main-right {
    position: sticky;
    top: 83.5px;
    width: 300px;

    footer {
      margin-bottom: 18px;
      color: rgb(168, 168, 168);

      ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        padding: 0px;
        list-style-type: none;
      }
    }
  }

  // 밑에 scss 분리해야됨
  .feed-container {
    width: 550px;
  }

  article {
    margin-bottom: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    /* height: 300px; */
    background-color: #ffffff;
  }

  .main-right-wrap {
    /* width: 300px; */
    margin-left: 32px;
    /* background-color: ; */
    /* position: relative; */
  }

  .name-wrap {
    padding-top: 8px;
    padding-left: 12px;
  }

  .aacy {
    color: rgb(168, 168, 168);
  }

  .profile-wrap {
    display: flex;
    /* border: 0.1px solid black; */
  }

  .profile-box {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border: 3px solid #dbdbdb;
    border-radius: 50%;
  }

  #profile-img {
    /* border: 2px solid #dbdbdb; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .font-size-18 {
    font-size: 18px;
  }

  .container-wrap {
    /* border: 0.1px solid black; */
    margin: 18px auto;
    background-color: #fafafa;
  }

  .story-container {
    height: 230px;
    padding: 10px 15px 0px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
    /* margin-bottom: 10px; */
  }

  .recommended-container {
    height: 170px;
    margin-top: 10px;
    padding: 10px 15px 0px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .story-list {
    /* top: 0; */
    height: calc(100% - 29.5px);
    /* background-color: darkgreen; */
    margin-top: 10px;
    overflow: auto;
  }

  .recommended-list {
    height: calc(100% - 29.5px);
    margin-top: 10px;
    overflow: auto;
  }

  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  #toggleDark {
    margin: auto 10px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .font-weight-600 {
    /* font-weight: bold; */
    font-weight: 600;
  }

  .txt-line {
    /* width: calc(100%-100px); */
    /* height: calc(100% - 29.5px); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .new-story-list-wrap {
    display: flex;
    /* border: 0.1px solid black; */
    width: 226px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }

  .new-story-img-box {
    width: 50px;
    height: 50px;
    /* border: 2.5px solid #dbdbdb; */
    margin-right: 12px;
    overflow: hidden;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
      radial-gradient(white 62%, transparent 0),
      linear-gradient(to top right, orange, deeppink);
  }

  .new-recommended-img-box {
    width: 50px;
    height: 50px;
    /* border: 2.5px solid #dbdbdb; */
    margin-right: 12px;
    overflow: hidden;
    border-radius: 50%;
    /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(white 62%, transparent 0),
        linear-gradient(to top right, orange, deeppink); */
  }

  .nickname-time {
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    justify-content: flex-end;
    width: calc(100% - 130px);
  }

  #new-story-img {
    /* border: 2px solid #dbdbdb; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(42%);
  }

  .new-story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* default */
    clip-path: circle(42%);
    /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        linear-gradient(to top right, orange, deeppink); */
  }

  .txt-line:hover {
    overflow-x: hidden;
  }

  .new-story-list-wrap:hover {
    transform: scale(1.1);
    transform-origin: 0 0;
    /* background-color: black; */
  }

  a {
    color: rgb(168, 168, 168);
    text-decoration-line: none;
  }

  /* feed */
  .feed-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .feed-container .left {
    display: flex;
    align-items: center;
  }

  .feed-container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .feed-container article {
    /* padding: 16px; */
  }

  .feed-img {
    overflow: hidden;
  }

  .feed-img img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }

  .feed-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .feed-body .left {
    display: flex;
    justify-content: space-between;
    /* background-color: #0095f6; */
    width: 85px;
  }

  .feed-body .right {
    /* background-color: darkgray; */
  }

  .feed-body i {
    font-size: larger;
  }

  .like-poeple-img-box {
    width: 28px;
    height: 28px;
    /* border: 2.5px solid #dbdbdb; */
    margin-right: 5px;
    overflow: hidden;
    border-radius: 50%;
    /* background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(white 62%, transparent 0),
        linear-gradient(to top right, orange, deeppink); */
  }

  .section-wrap {
    padding: 5px 16px 16px 16px;
  }

  .like-wrap {
    display: flex;
    align-items: center;
    padding: 0px 0px 5px 0px;
  }

  .font-size-14 {
    font-size: 15px;
  }

  .new-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #dbdbdb;
  }

  .new-comment i {
    font-size: 19px;
  }

  form input {
    width: 440px;
    border: 0px;
  }

  .posting {
    border: 0px;
    background-color: #ffffff;
  }

  .comment {
    /* height: calc(100% - 29.5px); */
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text {
    margin-bottom: 5px;
  }
}
