// @font-face {
//   font-family: "Lobster";
//   src: url(../font/Lobster-Regular.ttf);
// }

// @font-face {
//   font-family: "Lobster";
//   src: url("../../../../public/font/leeseyoon/Lobster-Regular.ttf");
// }

.login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin: 2em 0;

  .background-black {
    background-color: black;
  }

  .color {
    color: red;
  }

  /* log in */

  .login-section {
    height: 395px;
    padding: 0px 40px;
  }

  .login-btn {
    width: 100%;
    height: 100%;
  }

  section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 350px;
    margin: 5px 0;
    padding: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    background-color: white;
  }

  .logo-container {
    margin: 1em auto;
    font-family: "Lobster" cursive;
    font-size: 30px;
  }

  .logo-container img {
    width: 175px;
    margin: 22px auto 12px;
  }

  .loginForm {
    display: flex;
    flex-flow: column;
    height: 348px;

    input {
      height: 36px;
      margin-bottom: 5px;
      padding: 0 10px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      background-color: #fafafa;
      color: #8e8e8e;
    }

    input:focus {
      border: 1px solid #a8a8a8;
      outline: none;
    }

    .user-id-warning,
    .user-pw-warning {
      color: #751717;
      font-size: 12px;
    }

    button {
      height: 33px;
      margin: 5px 0;
      border: none;
      border-radius: 4px;
      color: white;
      font-weight: bold;
    }

    button:hover {
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    p {
      border-bottom: 1px solid #dbdbdb;
      line-height: 0.1em;
      text-align: center;

      span {
        padding: 0 20px;
        background-color: white;
        color: #8f8f8f;
        font-size: 13px;
      }
    }
  }

  .user-id,
  .user-pw {
    width: 100%;
  }

  .warning-invisible {
    display: none;
  }

  .btn-light-blue {
    background-color: #c0e0fe;
  }

  .btn-blue {
    background-color: #0095f6;
  }

  .forgotpw-container {
    margin: 5px auto;
    color: #01376a;
    font-size: 12px;
  }

  .register-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 63px;
    font-size: 14px;
  }

  .register-section p {
    color: #a6a6a6;
  }

  .visible {
    background-color: #0095f6;
  }
}
